<%
=begin%>
<div class="index-content">
  <div class="container">
  <h2>投稿一覧ページ</h2>
  <%= render 'search/search_form' %>
    <% @animes.each do |anime| %>
      <div class="col-lg-4">
        <%= attachment_image_tag anime, :image, :fill, 350, 250, fallback: "no_image.jpg" %>
        <h4><%= link_to "#{anime.title}", anime_path(anime.id), class: "blue-button" %></h4>
      </div>
    <% end %>
  </div>
</div> 
<%
=end%>



<div class="index-content">
  <div class="container">
  <h2>投稿一覧ページ</h2>
  <%= render 'search/search_form' %>
  <%if @anime == 'title' %>
    <% @datas.each do  |data| %>
      <%= data.title %>
    <% end %>
  <% end %>
  </div>
</div>
