<%= render 'layouts/error_user_edit', user: @user %>

<div class="container">
  <h2>ユーザー編集ページ</h2>
  <div class="row">
    <div class="col-xs-3">
      <%= form_for(@user) do |f| %>
      <div class="form-group has-icon">
          <%= f.label :名前 %> <br />
          <%= f.text_field :name, autofocus: true, class:"form-control", id:"inputEmail", placeholder:"名前"%>
      </div>
      <div class="form-group has-icon">
        <%= f.label :自己紹介 %><br />
        <%= f.text_area :my_introdution, autofocus: true %>
      </div>
        <div class="form-group has-icon">
          <div class="user-edit-image">
            <%= attachment_image_tag @user, :my_photo, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
          </div>
          <label class="control-label sr-only" for="inputEmail">自己紹介写真</label>
          <%= f.attachment_field :my_photo, placeholder: "自己紹介写真", class: "user-edit-form" %>
        </div> 
        <%= f.submit "編集を保存", class: "btn btn-primary" %>
        <%= link_to "戻る", :back, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
