<div class="container">
  <div class="col-md-12">
  <h2><%= "#{@user.name}さんのページ" %></h2><br />
    <div>
      <%= render "follow_form" %>
    </div>
    <div class="follow">
      <%= link_to following_user_path(@user) do %>
        <div id="following_count"><p style="color: black;"><%= @user.following.count %> フォロー</p></div>
      <% end %>
    </div>
    <div class="follower">
      <%= link_to followers_user_path(@user) do %>
        <div id="followers_count"><p style="color: black;"><%= @user.followers.count %> フォロワー</p></div>
      <% end %>
    </div>

    <div class="profile-container">
      <table class="table">
        <tbody>
          <tr>
            <th>紹介写真</th><td><%= attachment_image_tag @user, :my_photo, size:'100x100', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
          </tr>
          <tr>
            <th>名前</th><td><p class="profile-name"><%= @user.name %></p></td>
          </tr>
          <tr>
          <th>自己紹介</th><td><p class="my_introduction"><%= @user.my_introdution %></p></td>
          </tr>
          <tr>
          <% if @user.id == current_user.id %>
            <td>
              <%= link_to "編集ページ", edit_user_path(@user), class: "btn btn-success" %>
              <%= link_to "戻る", :back, class: "btn btn-default" %>
            </td>
          <% else %>
            <td>
              <%= link_to "戻る", :back, class: "btn btn-default" %>
            </td>
          <% end %> 
          </tr>
        </tbody>
      </table>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><p>投稿者名</p></th>
          <th><p>アニメタイトル</p></th>
          <th><p>アニ名言</p></th>
          <th><p>アニメ属性</p></th>
          <th><p>写真</p></th>
        </tr>
      </thead>
      <tbody>
        <% @animes.each do |anime| %>
          <tr>
            <td><%= anime.user.name %></td>
            <td><%= link_to"#{anime.title}", anime_path(anime.id)  %> 
            <td><%= anime.main %> 
            <td><%= anime.type_anime_i18n %></td>
            <td><%= attachment_image_tag anime, :image, :fill, 60, 60, fallback: "no_image.jpg", size: '60x60' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class='p-top__paginate'><%= paginate(@animes) %></div>
  </div>
</div>
