<div class="index-content">
  <div class="container">
  <h2>投稿一覧ページ</h2>
  <%= render 'search/search_form' %>
  <% @animes.each do |anime| %>
    <div class="col-lg-4">
      <div class="l-wrapper">
        <article class="card">
          <div class="card__header">
            <h3 class="card__title"><%= anime.title %></h3>
            <figure class="card__thumbnail">
              <%= attachment_image_tag anime, :image, :fill, 350, 250, fallback: "no_image.jpg", size: '350x250' %>
            </figure>
          </div>
          <div class="card__body">
            <p class="card__text"><%= anime.main %></p>
          </div>
          <div class="card__footer">
            <p class="card__text"><%= link_to "詳細ページを見る", anime_path(anime.id), class: "blue-button" %></p>
          </div>
        </article>
      </div>
    </div>
  <% end %>
  </div>
</div>

<div class='p-top__paginate'><%= paginate(@animes) %></div> 