<h2>(仮)投稿詳細ページ</h2>

<p><%= link_to  "#{@anime.user.name}さんの投稿", user_path(@user), data: {"turbolinks" => false} %></p>
<h4>アニメタイトル:</h4>
<p><%= @anime.title %></p>

<h4>名言:</h4>
<p><%= @anime.main %></p>

<h4>名言に選んだ理由:</h4>
<p><%= @anime.subbody %></p>

<h4>画像:</h4>
<p><%= attachment_image_tag @anime, :image, :fill, 100, 100, fallback: "no_image.jpg" %></p>


<h4>仮）いいね</h4>
<div id="favorite_heart<%= @anime.id %>">
  <%= render partial: 'favorites/favorite', locals: { anime: @anime } %>
</div>

<div class="row">
  <ul>
    <li class="comment_create">
      <h4 class="text-left title">コメント一覧</h4>
    </li>
    <li id="comments_area">
      <%= render partial: 'anime_comments/index', locals: { comments: @comments, anime: @anime } %>
    </li>
  </ul>
  <hr>
  <div class="comment-create">
    <h4 class="text-left">コメント投稿</h4>
    <%= render partial: 'anime_comments/form', locals: { comment: @comment, anime: @anime } %>
  </div>
</div>

<% if current_user == @anime.user %>
  <p><%= link_to "(仮)投稿編集ページ", edit_anime_path(@anime.id) %></p>
  <p><%= link_to '投稿一覧に戻る', animes_path %> </p>
<% end %>
