<div class="container">
  <p class="header-title"><%= link_to '〜Anicool〜', root_path %></p>
  <nav>
    <ul class="nav navbar-nav">
      <!--if文でサインインとアウト時の表示を変更-->
      <% if user_signed_in? %>
        <!-- <li><%= link_to ' トップページ ', root_path %></li> -->
        <li><%= link_to ' マイページ ', user_path(current_user) %></li>
        <li><%= link_to ' 新規投稿ページ ', new_anime_path %></li>
        <li><%= link_to ' 投稿一覧ページ ', animes_path %></li>
        <li><%= link_to ' ユーザー一覧ページ ', users_path %></li>
        <li><%= link_to ' サイト情報について ', home_about_path %></li>
        <li><%= link_to ' ログアウト ', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <!-- <li><%= link_to ' トップページ ', root_path %></li> -->
        <li><%= link_to ' アバウトページ ', home_about_path %></li>
        <li><%= link_to ' 投稿一覧ページ ', animes_path %></li>
        <li><%= link_to ' 新規登録 ', new_user_registration_path %></li>
        <li><%= link_to ' ログイン', new_user_session_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
